<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <meta charset="UTF-8" />
    <title>Alla Bokningar</title>
</head>
<body>
<h1>Alla bokningar</h1>

<div th:if="${successMessage}" style="color: green; font-weight: bold; margin-bottom: 1em;">
    <p th:text="${successMessage}">Bokningen lyckades!</p>
</div>
<div th:if="${bookingmessage}" style="color: red; font-weight: bold; margin-bottom: 1em;">
    <p th:text="${bookingmessage}">Bokningen avbröts!</p>
</div>

<table border="1">
    <thead>
    <tr>
        <th>Boknings-ID</th>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>Rum</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Åtgärder</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.id}">ID</td>
        <td th:text="${booking.customerFirstName}">Förnamn</td>
        <td th:text="${booking.customerLastName}">Efternamn</td>
        <td th:text="${booking.roomNumber}">Rumsnummer</td>
        <td th:text="${booking.checkInDate}">Check-in</td>
        <td th:text="${booking.checkOutDate}">Check-out</td>
        <td>
            <form th:action="@{'/bookings/delete/' + ${booking.id}}" method="post" style="display:inline">
                <button type="submit" onclick="return confirm('Vill du avboka denna bokning?')">Avboka</button>
            </form>
            <form th:action="@{'/bookings/edit/' + ${booking.id}}" method="get" style="display:inline;">
                <button type="submit">Uppdatera</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
