<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head><meta charset="UTF-8"><title>Ny bokning</title></head>
<body>
<h1>Ny bokning</h1>
<form th:action="@{/bookings/new}" th:object="${bookingDto}" method="post">
    <div>
        <label>Kund</label>
        <select th:field="*{customerId}">
            <option th:each="c : ${customers}" th:value="${c.id}" th:text="${c.firstName} + ' ' + ${c.lastName}"></option>
        </select>
        <div th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}"></div>
    </div>
    <div>
        <label>Rum</label>
        <select th:field="*{roomId}">
            <option th:each="r : ${rooms}" th:value="${r.id}" th:text="${r.roomNumber} + ' (' + ${r.roomType} + ')'"></option>
        </select>
        <div th:if="${#fields.hasErrors('roomId')}" th:errors="*{roomId}"></div>
    </div>
    <div>
        <label>Incheckning</label>
        <input type="date" th:field="*{checkInDate}" />
        <div th:if="${#fields.hasErrors('checkInDate')}" th:errors="*{checkInDate}"></div>
    </div>
    <div>
        <label>Utcheckning</label>
        <input type="date" th:field="*{checkOutDate}" />
        <div th:if="${#fields.hasErrors('checkOutDate')}" th:errors="*{checkOutDate}"></div>
    </div>
    <button type="submit">Boka</button>
    <a th:href="@{/bookings/all}">Avbryt</a>
</form>
</body>
</html>
